* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #35463f;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background-color: white;
}
.logo {
    font-size: 28px;
}
nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}
nav ul li {
    font-size: 14px;
    color: #35463f;
    cursor: pointer;
}
.search-button {
    display: flex;
    align-items: center;
    gap: 25px;
}
.search-button span {
    font-size: 13px;
    color: #4c5954;
    cursor: pointer;
    text-transform: capitalize;
}
.search-button button {
    padding: 11px 22px;
    border: none;
    border-radius: 4px;
    background-color: #c49a36;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.hero {
    height: 500px;
    background-image: url("images/Amalfi\ Golden\ Hour.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.hero-services {
    color: #ffffff;
    width: 90%;
}
.hero-services h1 {
    font-size: 50px;
    margin: 20px 0 10px;
}
.hero-services > p {
    font-size: 15px;
}
.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
}
.search-box {
    width: 190px;
    padding: 15px;
    background-color: #080205;
    border-radius: 10px;
    text-align: left;
}
.search-box label {
    display: block;
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
}
.search-box input,
.search-box select {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background-color: aliceblue;
    font-size: 12px;
}
.search-box button {
    border: none;
    background-color: #d8b52c;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.stats {
    background-color: white;
    padding: 30px 8%;

    display: flex;
    justify-content: space-around;

    text-align: center;
}
.stats h2 {
    font-size: 22px;
    margin-bottom: 6px;
}
.stats p {
    font-size: 12px;
    color: #777;
}
.destinations {
    padding: 70px 8%;
}

.destinations h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.destinations > p {
    color: #777;
    margin-bottom: 35px;
}
.destination-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.destination-card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.destination-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.destination-card h3 {
    margin: 15px 18px 5px;
    font-size: 21px;
}
.destination-card p {
    margin: 5px 18px;
    color: #777;
}
.destination-card span {
    display: block;
    margin: 15px 18px 0;
    font-weight: bold;
    font-size: 15px;
}
.why-wanderly {
    padding: 60px 8%;
    background-color: #f5f5f5;
    text-align: center;
}
.why-wanderly h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
.why-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.why-container div {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
}
.why-container h4 {
    font-size: 20px;
    margin-bottom: 12px;
}
.why-container p {
    color: #777;
    line-height: 1.5;
}
.seasonal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 60px 8%;
}
.season-card {
    min-height: 280px;
    padding: 35px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: white;

    background-size: cover;
    background-position: center;
}
.season-card:first-child {
    background-image: url("images/Summer\ Escape.jpg");
}
.season-card:last-child {
    background-image: url("images/Winter\ Retreat.jpg");
}
.season-card h2 {
    font-size: 26px;
    margin-bottom: 20px;
}
.season-card button {
    width: fit-content;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.reviews {
    padding: 60px 8%;
    background-color: #f5f5f5;
    text-align: center;
}
.reviews h2 {
    font-size: 32px;
    margin-bottom: 35px;
}
.review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.review-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: left;
}
.review-card p:first-child {
    margin-bottom: 15px;
}
.review-card p:nth-child(2) {
    color: #555;
    line-height: 1.6;
}
.review-card h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.review-card small {
    color: #777;
}
.newsletter {
    padding: 60px 20px;
    text-align: center;

    background-color: #222;
    color: #ffffff;
}
.newsletter p {
    color: #ccc;
    margin-bottom: 25px;
}
.newsletter input {
    width: 300px;
    padding: 14px;

    border: none;
    border-radius: 5px;
    outline: none;
}

.newsletter button {
    padding: 14px 22px;
    margin-left: 8px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);

    gap: 35px;
    padding: 60px 8%;

    background-color: #111;
    color: white;
}
footer h2,
footer h3 {
    margin-bottom: 15px;
}
footer p {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 14px;
}
@media screen and (max-width: 600px) {
   header {
        flex-direction: column;
        gap: 20px;
    }
    nav {
        flex-direction: column;
        gap: 20px;
    }
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .hero {
        height: auto;
        min-height: 600px;
    }
    .hero-services h1 {
        font-size: 35px;
    }
    .search-container {
        flex-direction: column;
        align-items: center;
    }
    .search-box {
        width: 90%;
    }
    .destination-container,
    .why-container,
    .review-container,
    .seasonal {
        grid-template-columns: 1fr;
    }
    .stats {
        flex-wrap: wrap;
        gap: 30px;
    }
    .newsletter input {
        width: 80%;
        margin-bottom: 10px;
    }
    .newsletter button {
        margin-left: 0;
    }
     footer {
        grid-template-columns: 1fr;
    }
}
